#root {
  min-height: 100vh;
}

.page {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  max-width: 1360px;
  margin: 0 auto;
  padding: 32px 40px 24px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 720px) {
  .page {
    padding: 20px 16px;
  }
}
